img{
    height:500px;
    width:500px;
    border-radius:20px;
}

.detaillink{
    text-decoration:none;
    color:#5F90D6;
    background-color:#FAFFFD;
    padding:10px;
    border-radius:15px;
    font-weight:bold;
}

.detaillink:hover{
    background-color:#b3cff7;
}

.detail1{
    display:flex;
    flex-direction:column;
}

.detail-container{
    display:flex;
    flex-direction:row;
    background-color:#06103A;
    margin:50px;
    padding:40px;
    border-radius:20px;

}
.detail2{
    display:flex;
    flex-direction:column;
    margin: 20px;
}

.detail2 p{
    font-size:larger;
}

.detail-buttons{
    display:flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right:10px;
}

.detail-buttons img{
        height:25px;
    width:25px;
    border-radius:0px;
    object-fit:fill;
    margin-left:10px;
    margin-right:10px;
}

.detail-buttons button{
      background: none;       /* remove background */
  border: none;           /* remove border */
  text-decoration: none;
  color:#FAFFFD;
  font-weight:bolder;       /* link color */
  padding: 0;             /* remove default button padding */
  font: inherit;          /* inherit font styles */
  cursor: pointer;        /* show pointer on hover */
  text-decoration: none;
}

.detail-title{
    display:flex;
    align-items: center;
    justify-content: space-between;
}