@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;700&display=swap');

:root {
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}

.header nav{
    background-color: #4D60AD;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:4px 20px 14px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.header nav a{
    text-decoration: none;
    color:#06103A;
    margin:0px 20px 0px 20px;
    font-weight:bold;
}
.header nav a:hover{
    color:#FAFFFD;
}

body{
    margin:0px;
    font-family: var(--font-body);
    background-color: #06103A;
    color: #FAFFFD;

}
